
.board {
    padding-left: 25%;
    padding-right: 25%;
}

.nav-menu {
    padding-left: 25%;
    padding-right: 25%;
    background-color: #1fff26;

}

.container-dashboard{

}


.thumb-goals{
    border: 5px solid #20abfd; /* Рамка вокруг фотографии */
    padding: 10px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    padding-left: 10px;
    margin-right: 0px; /* Отступ справа */
    margin-bottom: 0px; /* Отступ снизу */
    margin-top: 10px;
   }

