{%  load static %}

<html>
<head>

    <title>Avatar</title>

     <link rel="stylesheet" href="{% static "css/base.css" %}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}

</head>
<body>
<div class=" nav-menu">
 <nav class="navbar navbar-light">
     <a class="navbar-brand" href="{% url 'dashboard'%}"> Avatar</a>

     <div id="header">




         <span class="user">
             {% if request.user.is_authenticated %}
                 Hello {{ request.user.username}}

                 <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url "logout" %}">Выйти из аккаунта</a>
    <a class="dropdown-item" href="{% url "edit" %}">Редактировать профиль</a>
    <a class="dropdown-item" href="{% url "password_change" %}">Сменить пароль</a>
  </div>
</div>



             {% else %}
                 <a href="{% url "login" %}">Log-in</a>
             {% endif %}
         </span>
     </div>


 </nav>
</div>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


  <div class="board">
{% block content %}
{% endblock content %}
  </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>