{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <div class="container-dashboard ">
        <div class="row">
            <div class="col">
                <ul class="menu">

                 <li><a href="{% url 'dashboard'%}">Моя страница</a></li>
                 <li><a href="#">Сообщения</a></li>
                 <li><a href="#">Новости</a></li>
                 <li><a href="#">Достижения</a></li>
                 <li><a href="#">Группы</a></li>
                 <li><a href="{% url 'finsec' %}">Мои цели</a></li>
                 <li><a href="#">Игры</a></li>
                 <li><a href="#">Видео</a></li>
                 <li><a href="{%  url 'finsecurity' %}">Музыка</a></li>

             </ul>

            </div>

            <div class="col">

                <img src="{{ profile.photo.url }}" style="width: 200px; height: 128px ">
                <li><a href="#">Друзья</a></li>
                <li><a href="{% url 'goals' %}">Активные цели</a></li>


            </div>


            <div class="col-6">

                <H4> {{ request.user.username}} {{ request.user.last_name}} </H4>

                <p>Дата рождения  {{ profile.date_of_birth }} </p>



                {{ profile.achievement }}

            </div>
        </div>
    </div>


{% endif %}



{% endblock content %}