{% extends 'base.html' %}


{% block content %}
{% if request.user.is_authenticated %}








    <h4>Финансовая безопасность.</h4>
    <h4>Поздравляем  ваше достижение {{ profile.achievement }}</h4>

  <h5>Вы начинаете с   {{ point_capital }}   рублей  капитала.</h5>

    <H5>Чтобы вам перейти на ступень Финансовая безопасность </H5>
    <H5>Нужно что бы ваш долг в {{ db }} рублей стал 0 </H5>
    <H5>И необходимо что бы Ваша подушка безопасности была не менее {{ pillow }} рублей. </H5>
    <H4>И так. Мы определи  направление</H4>
    <H5>И теперь не обходимо ежедневно трудится над выполнением цели.</H5>
    <H5>В следующей таблице нужно ежедневно заполнять данные по заработку, гашению долгов, подушки безопасноти. </H5>

    <a href="{% url 'fin_daily' %}">переходим.</a>

    {% endif %}


{% endblock content %}